body{
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    max-height: 1605px;
    min-width: 1000px;    
    display: flex;
    flex-direction: column-reverse;
}

article{
    box-sizing: border-box;
    flex-grow: 1;   
    width: 100%;
    max-width: 1440px;
    min-width: 1000px;    
    margin: 0 auto;
    background-image: url(../assets/your_verse_hero.jpg);
    background-size: 1440px 1315px;
    background-position: bottom;
    background-repeat: no-repeat;    
}

aside{
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    max-width: 1440px;
    min-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.promo-box-1{    
    box-sizing: border-box;
    position: relative;    
    width: 360px;
    background-image: url("../assets/promo_iphone5s.jpg");
    background-position: center;
    background-size: 360px 200px;
}

.promo-box-2{    
    box-sizing: border-box;
    position: relative;    
    width: 360px;
    background-image: url("../assets/promo_iphone5c.jpg");
    background-position: center;
    background-size: 360px 200px;
}

.promo-box-3{    
    box-sizing: border-box;
    position: relative;    
    width: 360px;
    background-image: url("../assets/promo_30_years.jpg");
    background-position: center;
    background-size: 360px 200px;
}

.promo-box-4{    
    box-sizing: border-box;
    position: relative;    
    width: 360px;
    background-image: url("../assets/promo_supplier_responsibility.jpg");
    background-position: center;
    background-size: 360px 200px;
}

footer{
    box-sizing: border-box;
    height: 90px;    
    width: 100%;
    max-width: 1440px;
    min-width: 1000px;
    margin: 0 auto;
    
}

nav{
    position: absolute;
    display: flex;
    top: 83px;
    left: 50%;
    margin-left: -490px;
    border-radius: 4px;
    height: 36px;
    width: 980px;
    box-shadow: #888 0 1px 2px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%),
        url("../assets/nav-background.png"),
        linear-gradient(#666 0%, #5e5e5e 50%, #707070 51%, #808080 100%);
    text-align: center;
}

nav a{    
    height: 36px;
    width: 105px;
    border-image: url("../assets/nav-border.png") 0 2 0 1;
    border-width: 0 2px 0 1px;
    border-style: solid;
}

nav a:hover{
    border-radius: 4px;    
    background-image: 
    radial-gradient(rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(#666 0%, #5e5e5e 50%, #707070 51%, #808080 100%);
}

nav img{
    margin: 3px 0;
}









    /*    
    background: 
    -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), 
    color-stop(0.05, rgba(0, 0, 0, 0)), 
    color-stop(0.97, rgba(0, 0, 0, 0)), 
    to(rgba(0, 0, 0, .45))), 
    -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), 
    color-stop(0.002, rgba(0, 0, 0, 0)),
    color-stop(0.998, rgba(0, 0, 0, 0)), 
    to(rgba(0, 0, 0, .2))), 
    url('') no-repeat 50% 50%, 
    -webkit-gradient(linear, 0 100%, 0 0, from(#666), 
    color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), 
    to(#808080));    
    */